.Mainbanner{
    background: url(../image/scr_11_196701.gif) 50% 0px / 1900px 440px no-repeat #f1729d;
    position: relative;
    width: 100%;
    height: 300px;
    margin: 0 auto;
    background-size: 1900px 300px;
}